/* 
    Formázáshoz flexbox tulajdonságok
    columnFlex: egymás alá rendezi a child elementeket
    rowFlex: egymás mellé

    spaceAround: egyenlő távokat szúr be a childok közé
    center: középre rendez
    spaceBetween: középre szúrja be a szabad helyet
    flexStart: balra zárt
    flexEnd: jobbra zárt
*/
@font-face {
    src: url(../fonts/good-timing.bold.ttf);
    font-family: GoodTiming;
}

.columnFlex {
    display: flex;
    flex-direction: column;
}

.rowFlex {
    display: flex;
    flex-direction: row;
}

.flexSpaceAround {
    justify-content: space-around;
}

.flexCenter {
    justify-content: center;
}

.flexSpaceBetween {
    justify-content: space-between;
}

.flexFlexEnd {
    justify-content: flex-end;
}

.flexFlexStart {
    justify-content: flex-start;
}

/*
    randomQuiz.html-hez külön innen
*/
.quizPic {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.quizBlock {
    display: flex;
    flex-direction: column;
    margin: 30px;
    width: 95%;
}

.quizRow {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 20px;
}

.quizQuestion {}

.quizText {
    display: block;
    margin-right: auto;
    margin-left: auto;
    width: 400px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.quizSpan {
    font-weight: bold;
    margin: 10px;
}

.quizElement {
    width: 35%;
}

.quizRadio {
    margin-left: auto;
    margin-right: auto;
}

.quizColumn {
    dispay: flex;
    flex-direction: column;
}

.Pic {
    border-radius: 20px;
    height: 700px;
    width: auto;
}

#doubleFirstRow {
    display: flex;
    justify-content: column;
}

.textLabel {
    text-align: center;
}

.textInput {
    width: 100%;
}

#marcellusWallace {
    text-align: center;
}

.title {
    text-align: center;
    font-weight: bold;
    font-size: 24;
}

/*
    randomQuiz.html-hez küldön idáig
*/

.horrorBackground {
    background-image: url(../img/horrorforest.jpg);
    background-size: auto;
}

.zsBackground {
    background-image: url(/img/sharknado.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    margin-top: 0px;
    padding-top: 0px;
}

.headerTextStyle {
    text-shadow: 0 0 3px yellow, 0 0 3px orange, 0 0 5px red;
}

.h1zs {
    color: white;
    text-shadow: 0 0 15px black;
    font-size: 32pt;
    text-align: center;
}

.h2TextStyle {
    text-shadow: 0 0 3px yellow, 0 0 3px orange, 0 0 5px red;
}

.h3TextStyle {
    text-shadow: 0 0 3px yellow, 0 0 3px orange, 0 0 5px red;
}

.h4TextStyle {
    text-shadow: 0 0 3px yellow, 0 0 3px orange, 0 0 5px red;
}

.pTextStyle {
    text-shadow: 0 0 3px yellow, 0 0 3px orange, 0 0 5px red;
}


.thead {
    text-shadow: 0 0 3px yellow, 0 0 3px orange, 0 0 5px red;
    text-transform: uppercase;
}

.magyarFotok {
    max-width: 300px;
    max-height: 200px;
    border-radius: 5px;
    padding: 30px;
}

.magyarSzoveg {
    width: 70%;
}

.h2zs {
    color: white;
    text-shadow: 0 0 15px black;
}

.h3zs {
    color: white;
    text-shadow: 0 0 15px black;
}

.h4zs {
    color: white;
    text-shadow: 0 0 15px black;
}

.pzs {
    color: white;
    text-shadow: 0 0 15px black;
    width: 85%;
}

body nav a {
    padding-left: 50px;
    padding-right: 50px;
    line-height: 20px;
    color: #f3b983;
    font-size: 25px;
    font-family: GoodTiming;
}

body {
    background-color: rgb(31, 56, 54);
}

.flag {
    background-image: url(/img/flag.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    margin-top: 0px;
    padding-top: 0px;
}